body {
  width: 15em;
  margin: 0 auto;
  margin-left: 0px;
  display:flex;
  flex-grow: 1;
  gap: 2em;
}

section {
  padding: 2em;
  position: relative;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

#green {
  background-color: #8ffda7;
}

#orange {
  background-color: #ffc788;
}

#yellow {
  background-color: #ffff92;
}

#red {
  background-color: #ff919c;
}

#blue {
  background-color: #98d2ff;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  background-color: white;
  padding: 1em;
  margin: 1em;
}
